#header_h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  color: #004050;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#logo{
  display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
}