#movieListing-Header {
  text-align: center;
  color: #004050;
  text-shadow: 2px 2px 10px rgb(65, 68, 173);
  font-weight: bolder;
  font-style: italic;
}
#modalimage {
  text-align: center;
}
#movie-modal-header,
#movie-modal-footer {
  background: #004050;
  text-transform: uppercase;
  color: rgb(251, 251, 251);
  text-shadow: 3px 3px 10px rgb(204, 193, 193);
}
#movie-director {
  text-align: center;
  font-size: large;
  padding-top: 0%;
}
#movie-runtime,
#movie-rating {
  text-align: center;
  font-size: small;
  line-height: 0%;
}
.modal-dialog {
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
}
#movie-modal-body {
  background: white;
  text-align: center;
}
#movie-actor {
  line-height: 0%;
}


#ListingMovie-card-img {
  height: 350px;
  width: 255px;
  padding: 1rem;
  text-align: center;
}

#ListingMovie-card {
  background-color: #3283979d;
  text-align: center;
  height: 600px;
  width: 260px;
}


#ListingMovie-title {
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 10px #000;
}

hr {
  background-color: rgb(131, 120, 57);
}

#movie-director {
  font-weight: bolder;
  font-style: italic;
  font-size: large;
  color: #004050;
}

.card-body p {
  color: rgb(12, 12, 12);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
