@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');

#header_h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  /* color: #004050; */
  /* font-style: italic; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: 'Righteous', cursive;
}

#logo {
  width: 130px;
}

@media screen and (max-width: 768px) {
  #header_h1 {
    display: none;
  }
}

/* .container-fluid {
  background-color: #cad69caa;
} */
