
.templateContainer {
  margin: 2% 0;
}
.templateContainer > .searchInput_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer > .searchInput_Container input {
  width: 60%;
  padding: 10px;
  outline: none;
}
.templateContainer .template_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer .template_Container .template {
  background-color: rgb(47, 29, 81);
  margin: 30px;
  padding: 0px 20px;
  
}
.templateContainer .template_Container .template img {
  height: 250px;
}
